<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구 상세 정보</title>
</head>
<body>
    <h1>Friend Info</h1>
    <h3><%= friend.name %></h3>

    <ul>
        <li>종족: <%= friend.species %></li>
        <li>나이: <%= friend.age %></li>
        <li>성별: <%= friend.gender %></li>
    </ul>
</body>
</html>