<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>Rendered by EJS</h1>
    <p>이 문서는 Node.js의 EJS 엔진으로 렌더링 되었습니다.</p>
</body>
</html>